body {
  background: aqua;
}

.ai {
  background-color: white;
  background-image: url("zero.png");
}

.player {
  background-color: white;
  background-image: url("cross.png");
}

.actions {
  text-align: center;
}

.container {
  margin: 50px auto;
  width: 300px;
}

.cell {
  background-color: chartreuse;
  background-size: contain;
  border: 2px solid beige;
  float: left;
  height: 96px;
  width: 96px;
}

.cell:hover {
  border-color: red;
}
